.head {
  background-color: #46b8da;
  min-height: 115px;
}

.logo {
  margin: .5%;
}

.titrePage {
  display: inline;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deconexion {
  float: right;
}

#deconexion a:hover {
  cursor: pointer;
  background-color: #d9534f;
  color: white;
}

.text-right{
  text-align: right;
}

ul li a {
  color: white;
  margin: 0.5vw;
}

ul li a:hover {
  color: unset;
  border-radius: 1vw;
}

ul li a:focus {
  color: unset;
  border-radius: 1vw;
}
