<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 blue">
      <div *ngFor="let domoticItem of domoticItems">
        <app-domotic-item [domoticItem]="domoticItem"></app-domotic-item>
      </div>
    </div>

    <div class="col-md-8">

    </div>
  </div>

</div>
